<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToLet || page</title>
    <style>
        .tab {
            margin-left: 400px;
            color: #0010c9;
        }

        body {
            color: darkturquoise;
        }
    </style>
</head>
<body style="background-color: #999999">
<div th:replace="fragment/adminResuable ::generic_cs"></div>
<div th:replace="fragment/adminResuable ::script"></div>
<div th:replace="fragment/adminResuable ::fonts"></div>
<div th:replace="fragment/adminResuable ::navbar_css"></div>
<div th:replace="fragment/adminResuable ::navbar_css"></div>
<div th:replace="fragment/adminResuable ::adminnavbar"></div>
<div class="tab">
    <div class="container my-5">
        <h3><u><b>Give Room form</b></u></h3>
        <p class="title" th:align="right" style="margin-right: 400px">
            <a th:href="@{/adminRoom/home}" class="btn btn-large btn-primary">back</a>
        </p>
        <div class="card" style="margin-right: 400px">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/adminRoom/create}" th:method="post" th:object="${adminRoomDto}" enctype="multipart/form-data">
                        <div class="row">
                            <input type="text" th:field="*{id}" hidden>
                            <div class="form-group col-md-6">
                                <label for="address" class="col-form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control"
                                       id="name" placeholder="Enter the Name"/>
                                <p class="display_msg" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address" class="col-form-label">Contact</label>
                                <input type="text" th:field="*{contact}" class="form-control"
                                       id="contact" placeholder="Enter the Contact"/>
                                <p class="display_msg" th:if="${#fields.hasErrors('contact')}"
                                   th:errors="*{contact}"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address" class="col-form-label">Address</label>
                                <input type="text" th:field="*{address}" class="form-control"
                                       id="address" placeholder="Enter the address"/>
                                <p class="display_msg" th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address" class="col-form-label">Email</label>
                                <input type="email" th:field="*{email}" class="form-control"
                                       id="email" placeholder="Enter the email"/>
                                <p class="display_msg" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"></p>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="text-dark">Select Room</label>
                                <select name="todo status" th:field="*{roomType}" class="form-select"
                                        aria-label="Default select example" />
                                <option value="">Select Room</option>
                                <th:block th:each="roomType : ${T(com.example.houserentingsystem.enums.RoomType).values()}">
                                    <option
                                            th:value="${roomType}"
                                            th:text="${roomType}">

                                    </option>
                                </th:block>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="date" class="col-form-label">Date</label>
                                <input type="date" th:field="*{adminRoomDate}" class="form-control"
                                       id="date" placeholder="Enter the date"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="price" class="col-form-label">Price</label>
                                <input type="number" th:field="*{price}" class="form-control"
                                       id="price" placeholder="Enter the Price "/>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Room Description</label>
                                <textarea class="form-control" th:field="*{description}"
                                          id="exampleFormControlTextarea1" rows="3"
                                          placeholder="enter the description"></textarea>
                                <p class="display_msg" th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}"></p>
                            </div>
                            <br>
                            <hr>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Save ">
                                <input type="reset" class="btn btn-danger" value=" Reset ">
                            </div>
                        </div>
                    </form>
                    <h4 th:text="${message}" style="color: #00ff51">Admin Room Successfully Added </h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
