<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Give Room || List</title>
  <style>
    .tab {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<div th:replace="fragment/userResuable ::generic_cs"></div>
<div th:replace="fragment/userResuable ::script"></div>
<div th:replace="fragment/userResuable ::fonts"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::usernavbar"></div>
<div class="tab">
  Search: <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Location">

  <table class="table table-hover" id="myTable">
    <h2>Available Room List</h2>
    <thead class="table-dark">
    <tr>
      <th scope="col">SN</th>
      <!--            <th scope="col">Name</th>-->
      <th scope="col">Name</th>
      <th scope="col">Contact</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Room Type</th>
      <th scope="col"> Date</th>
      <th scope="col"> Price</th>
      <!--            <th scope="col">Status</th>-->
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="adminRoom,loop :${adminRoomList}">
      <th th:text="${loop.count}"></th>
      <td th:text="${adminRoom.name}"></td>
      <td th:text="${adminRoom.contact}"></td>
      <td th:text="${adminRoom.address}"></td>
      <td th:text="${adminRoom.email}"></td>
      <td th:text="${adminRoom.roomType}"></td>
      <td th:text="${adminRoom.adminRoomDate}"></td>
      <td th:text="${adminRoom.price}"></td>
      <td th:text="${adminRoom.description}"></td>
      <td th:text="${adminRoom.roomStatus}"></td>
      <!--      <td th:text="${userRoom.userRoomDate}"></td>-->
      <td>
        <a th:href="@{~/userRoom/aview/}+${adminRoom.id}">
          <botton class="btn btn-info">View</botton>
        </a>
<!--        <a th:href="@{~/adminRoom/update/}+${adminRoom.id}">-->
<!--          <botton class="btn btn-primary">Request</botton>-->
<!--        </a>-->

<!--        <a th:href="@{~/adminRoom/delete/}+${adminRoom.id}">-->
      <a>    <botton class="btn btn-danger">Remove</botton>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script type="application/javascript">
  function tableSearch(){
    let input,filter,td,tr,table,i,textValue;
    input=document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table=document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    for(let i=0; i<tr.length;i++){
      td=tr[i].getElementsByTagName("td")[2] ;   // 0 for S.N 1 for Address 2 for type and so on...
      if(td){
        textValue=td.textContent || td.innerText;
        if(textValue.toUpperCase().indexOf(filter)>-1){
          tr[i].style.display ="";
        }
        else{
          tr[i].style.display="none";
        }

      }
    }
  }
</script>
</body>
</html>

