<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Need Room || List</title>
  <style>
    .tab {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<div th:replace="fragment/userResuable ::generic_cs"></div>
<div th:replace="fragment/userResuable ::script"></div>
<div th:replace="fragment/userResuable ::fonts"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::navbar_css"></div>
<div th:replace="fragment/userResuable ::usernavbar"></div>
<div class="tab">
  Search: <input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Location">
  <table class="table table-hover" id="myTable">
    <h2>Room List</h2>
    <thead class="table-dark">
    <tr>
      <th scope="col">SN</th>
      <!--            <th scope="col">Name</th>-->
      <th scope="col">Name</th>
      <th scope="col">Contact</th>
      <th scope="col">Address</th>
      <th scope="col">Room Type</th>
      <th scope="col"> Date</th>
      <!--            <th scope="col"> Date</th>-->
<!--      <th scope="col">Status</th>-->
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userRoom,loop : ${userRoomList}">
      <th th:text="${loop.count}"></th>
      <td th:text="${userRoom.name}"></td>
      <td th:text="${userRoom.contact}"></td>
      <td th:text="${userRoom.address}"></td>
      <td th:text="${userRoom.roomType}"></td>
      <td th:text="${userRoom.userRoomDate}"></td>
<!--      <td th:text="${userRoom.roomStatus}"></td>-->
      <td th:text="${userRoom.description}"></td>

      <!--      <td th:text="${userRoom.userRoomDate}"></td>-->
      <td>
        <a th:href="@{~/userRoom/view/}+${userRoom.id}">
          <botton class="btn btn-info">View</botton>
        </a>
        <a th:href="@{~/userRoom/update/}+${userRoom.id}">
          <botton class="btn btn-primary">Update</botton>
        </a>
        <a th:href="@{~/userRoom/delete/}+${userRoom.id}">
          <botton class="btn btn-danger">Delete</botton>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script type="application/javascript">
function tableSearch(){
let input,filter,td,tr,table,i,textValue;
input=document.getElementById("myInput");
filter = input.value.toUpperCase();
table=document.getElementById("myTable");
tr = table.getElementsByTagName("tr");

for(let i=0; i<tr.length;i++){
  td=tr[i].getElementsByTagName("td")[2] ;   // 0 for name 1 for contact and so on...
  if(td){
    textValue=td.textContent || td.innerText;
    if(textValue.toUpperCase().indexOf(filter)>-1){
      tr[i].style.display ="";
    }
    else{
      tr[i].style.display="none";
    }

  }
}
}
</script>
</body>
</html>
